body {
    	background-color: lightblue;
}

h1 {  
  	text-shadow: 4px 4px 16px #FFFFFF, -4px -4px 16px #FFFFFF;
  	text-align: Center;
}

#refresh {
  	width: 50%;
  	color: white; 
}

button {
  	width: 50%; 
  	display: block;
  	margin: auto;
  	margin-bottom: 40px;
  	background-color: blue;
  	color: white;
  	font-size: 16px;
  	border-radius: 8px;
}

img {
  	border-radius: 10px;
  	display: block;
  	margin: auto;
  	width: 80%;
  	height: auto;
}

p {
	font-size: 24px;
	margin-top: 20px;
	text-shadow: 4px 4px 16px #666666, -4px -4px 16px #666666;
	text-align: center;
}
