h1{
  text-shadow: 4px 4px 16px #FFFFFF, -4px -4px 16px #FFFFFF;
  text-align: center;
}
#refresh{
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  background-color: blue;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}
#image{
  display: block;
  border:none; 
  overflow:hidden; 
  width:350px; 
  height:280px; 
  margin:auto; 
  background: white; 
 
}
